p#special.paragraph {
  color: violet;
}

#special {
  color: royalblue;
}

p.paragraph {
  color: chartreuse;
}

.paragraph {
  color: black;
}

[data-testid="p-testid"] {
  color: red;
}

p {
  color: red;
}

p {
  color: green;
}

p {
  color: yellow;
}
