header {
  background-color: #ccc;
  border-bottom: 2px;
  padding: 4px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  font-size: 24px;
  font-weight: 700;
}
